h1 {
    color: #b0927b;
    text-align: left;
    font-family: Georgia;
    font-size: 75px;
}

li, a {
    font-family: Georgia;
}

body, html {
    height: 100%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/burgerLogo.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.restaurant-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/restaurant.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Georgia;
    font-size: 25px;
}

.navbar-brand {
    font-family: Georgia;
    background-color: #a86b00;
}

.box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box>div {
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: auto;
}

.button {
    background-color: white;
    border: solid;
    color: black;
    padding: 5px 7px;
    cursor: pointer;
}

a.button:hover {
    color: #a86b00;
}

.checked {
    color: orange;
}
